* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button {
    width: 100px;
    height: 24px;
}

.guess {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess__button {
    width: 100px;
}

